body {
    margin: 0px;
}
.section1 {
    background-color: #1F2937;
    padding: 0px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

ul {
    display: flex;
    list-style-type: none; /* Remove bullet points or numbers */
    gap: 30px;
}

a {
    text-decoration: none; /* Remove underline text decoration for links */
    font-size: 18px;
    color: #E5E7EB;
}

.first-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}   

.hero-second {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-image {
    height: 250px;
    width: 350px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.right-image img {
    height: 100%;
    max-width: 100%;
}

.left-content {
    padding: 0px;
}

.second-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.second-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 150px;
}

.item {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid black;
}

.item img {
    height: 100%;
    max-width: 100%;
}

.section3 {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 800;
}

.section4 {
    background-color: #3882F6;
    margin: 70px;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-container p {
    margin: 0px;
    color: #F9FAF8;
}

.action-header {
    font-size: 21px;
    font-weight: 800;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 30px;
    border: 1px solid #F9FAF8;
}